#guesses_flag {
    width: 20%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto; /* Pour centrer le tableau */
    border-collapse: collapse; /* Fusionner les bordures des cellules */
}

#guesses_flag th,
#guesses_flag td {
    padding: 8px; /* Espacement à l'intérieur des cellules */
    border: 1px solid #ddd; /* Bordure entre les cellules */
    text-align: center; /* Centrer le contenu des cellules */
}

#guesses_flag th {
    background-color: #f2f2f2; /* Couleur de fond pour l'en-tête du tableau */
    color: #333; /* Couleur du texte pour l'en-tête du tableau */
}

#guesses_flag tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes impaires */
}

#guesses_flag tbody tr {
    background-color: #f2f2f2; /* Couleur de fond lors du survol de la souris */
}

.center-image {
    text-align: center;
}
.center-image img {
    display: inline-block;
    width: 200px;
}

.center-capital {
    text-align: center;
    color: white;
    font-size: 50px;

}