<!DOCTYPE html>
<html>
<head>
    <title>geodle 🌎</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/planet.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico') }}">

	<!--Embed du site lors d'un partage-->

	<meta property="og:title" content="geodle" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://geodle.onrender.net" />
	<meta property="og:description" content="Come play some geo games on geodle :)" />
	<meta name="theme-color" content="#FF0000">

</head>

<body>
<div class="main">
</div>

<header>
    <div class="header-content">
        <div class='planet-container'>
            <div class='night'></div>
            <div class='day'></div>
            <div class='clouds'></div>
            <div class='inner-shadow'></div>
        </div>
        <h1 class="site-title"><span class="geo">geo</span><span class="dle">dle</span></h1>        </div>
</header>

<div id="content">
    <div class="button-container">
        <button class="mode-button" data-tooltip="Classic mode"><a href="classic"><img src="{{ url_for('static', filename='assets/img/classicmode.png') }}" alt="Classic mode"></a></button>
        <button class="mode-button" data-tooltip="Map mode"><a href="map"><img src="{{ url_for('static', filename='assets/img/mapmode.png') }}" alt="Map mode"></a></button>
        <button class="mode-button" data-tooltip="Flag mode"><a href="flag"><img src="{{ url_for('static', filename='assets/img/flagmode.png') }}" alt="Flag mode"></a></button>
        <button class="mode-button" data-tooltip="Capital mode"><a href="capital"><img src="{{ url_for('static', filename='assets/img/capitalmode.png') }}" alt="Capital mode"></a></button>
        <button class="mode-button" data-tooltip="Domain name mode"><a href="dns"><img src="{{ url_for('static', filename='assets/img/dnsmode.png') }}" alt="Domain name mode"></a></button>
    </div>
</div>

<footer>
    <div class="footer-content">
        <div class="copyright">
            <p>all rights reserved &copy; 2024 geodle | made with ❤ by 0adri3n</p>
        </div>
    </div>
</footer>

</body>
 
</html>
