<!DOCTYPE html>
<html>
<head>
    <title>geodle 🌎</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_classic.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_flag_capital.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/planet.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">   
    </script>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">   
    </script>  

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}" />
 

	<meta property="og:title" content="geodle" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://geodle.onrender.net" />
	<meta property="og:description" content="Come play some geo games on geodle :)" />
	<meta name="theme-color" content="#FF0000">

</head>

<body>
<div class="main">
</div>

<header>
    <div class="header-content">
        <h1 class="site-title"><a href="/" class="link"><span class="geo">geo</span><span class="dle">dle</span></a></h1> 
        <h2 id="welcome">Map mode coming soon...</h2>       
    </div>
</header>

<div id="content">

    
</div>



<footer>
    <div class="footer-content">
        <div class="copyright">
            <p>all rights reserved &copy; 2024 geodle</p>
        </div>
    </div>
</footer>

</body>
 
</html>
