<!DOCTYPE html>
<html>
<head>
    <title>geodle 🌎</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_classic.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style_flag_capital.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/planet.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/icon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">   
    </script>   
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">   
    </script>  

    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}" />
 

	<meta property="og:title" content="geodle" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://geodle.onrender.net" />
	<meta property="og:description" content="Come play some geo games on geodle :)" />
	<meta name="theme-color" content="#FF0000">

</head>

<body>
<div class="main">
</div>

<header>
    <div class="header-content">
        <h1 class="site-title"><a href="/" class="link"><span class="geo">geo</span><span class="dle">dle</span></a></h1> 
        <h2 id="welcome">Welcome to map mode ! Try to find today's marker country :)</h2>       
    </div>
</header>

<div id="content">

    <div id="map">
        {{ iframe|safe }}
    </div>

    <div class="guess-container">
        {% if not session["map_win"]%}
        <form action="/map" method='POST'>
            <input name="guess" type="text" placeholder="Enter your guess here..." class="guess-input" id="tags" autofocus >
        </form>
        {% endif %}
        {% if session["map_win"] %}
        <div class="win-message">
            <p>🎉 Congratulations ! You guessed the marker correctly !  🎉</p>
        </div>
        {% endif %}
    </div>

    <br>

    {% if session["map_guesses"] and today_marker %}
    <table id="guesses_flag">
        <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for object in session["map_guesses"] %} 
                <tr>
                    {% for item in object %}

                            <td {% if item == today_marker[0] %} class="green-bg"
                                {% elif item == today_marker[3] %} class="green-bg"
                                {% elif item == '-' %} class="no-data"
                                {% else %} class="red-bg" 
                                {% endif %}>
                                {% if item == '-' %}
                                    ✖
                                {% else %}
                                    {{ item }}
                                {% endif %}
                            </td>
                        
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    
</div>

<script> 
    $( function() { 
    var availableTags = [ 
        {% for n in names %}
            {% if session["map_cnames"]%}
                {% if n not in session["map_cnames"]%}
                    "{{n}}", 
                {% endif %}
            {% else %} "{{n}}",
            {% endif %} 
        {% endfor %} 
    ]; 
    $( "#tags" ).autocomplete({ 
        source: availableTags 
    }); 
    } ); 
    </script> 


<footer>
    <div class="footer-content">
        <div class="copyright">
            <p>all rights reserved &copy; 2024 geodle | made with ❤ by 0adri3n | affiliated to <b><a href="https://playdle.onrender.com/" target="_blank" class="link" style="color: white;">playdle!</a></b></p>
        </div>
    </div>
</footer>

</body>
 
</html>
